- provide(:title, t('session.new.title'))

%h1=t('session.new.heading')

.row
  .span6.offset3
    = form_for(:session, url: sessions_path) do |f|
      = f.label :email
      = f.text_field :email

      = f.label :password
      = f.password_field :password

      = f.submit t('session.new.submit'), class: 'btn btn-large btn-primary'


    %p
      = t('session.new.newtext')
      = link_to t('session.new.newlink'), signup_path
