- provide(:title, t('users.new.title'))

%h1= t('users.new.heading')

.row
  .span6.offset3
    = form_for(@user) do |f|
      = render 'shared/error_messages', object: f.object
      = render 'fields', f: f
      = f.submit t('users.new.submit'), class: "btn btn-large btn-primary"
